<div class="container">
    <h1 style="text-align: center;">List of Offers</h1>

    <div class="example-button-container" class="container">
        <button mat-raised-button color="primary" aria-label="Example icon button with a plus one icon"
            routerLink="/admin/offers/new">
            <mat-dialog-content>New</mat-dialog-content>
        </button>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


        <ng-container matColumnDef="id" style="text-align: center;">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="title" style="text-align: center;">
            <th mat-header-cell *matHeaderCellDef> title </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <ng-container matColumnDef="description" style="text-align: center;">
            <th mat-header-cell *matHeaderCellDef> description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <ng-container matColumnDef="points" style="text-align: center;">
            <th mat-header-cell *matHeaderCellDef> points </th>
            <td mat-cell *matCellDef="let element"> {{element.points}} </td>
        </ng-container>

        <ng-container matColumnDef="businessId" style="text-align: center;">
            <th mat-header-cell *matHeaderCellDef> businessId </th>
            <td mat-cell *matCellDef="let element"> {{element.businessId}} </td>
        </ng-container>

        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> editar </th>
            <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary"
                    [routerLink]="['/admin/offers/edit/', element?.id]">Update</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <td></td>
</div>